html 
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet", href="/styles/styles.css")
    body
ul.nav.nav-tabs
  li.nav-item
    a.nav-link.active(href='#') Home
  li.nav-item
    a.nav-link(href='#') about
  li.nav-item
    a.nav-link(href='/login') Login
.container.pt-5
    block content